{% extends 'layout.html' %}
{% block page_title %} About page {% endblock %}
{% block content %}
<form method="POST" action="/pages/about/">
        <div class="form-row">
            <div class="form-group col-md-12">
                {% csrf_token %}
            </div>        
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputName">Name</label>
            <input name="name" type="text" class="form-control" id="inputName" placeholder="Name">
          </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Email</label>
            <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
        
        </div>
        <div class="form-row">
          <label for="inputAddress">Address</label>
          <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
       
        <div class="form-row">
            <div class="form-group col-md-2">
            <label for="inputZip">ZipCode</label>
            <input name="zipcode" type="text" class="form-control" id="inputZip">
          </div>
        </div></br></br>
       
        <button name="submit" type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <div class="row-d-block">
        <table class="table table-responsive">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Zip code</th>
                <th colspan=2>Actions</th>
                <th></th>
              
              </tr>
            </thead>
            <tbody>
              {% for row in rows %}
                <tr>
                  <td>{{row.name}}</td>
                  <td>{{row.email}}</td>
                  <td>{{row.address}}</td>
                  <td>{{row.zipcode}}</td>
                  <td><a href="/pages/about?id={{row.id}}&method=edit">Edit</a></td>
                  <td><a href="/pages/about?id={{row.id}}&method=delete">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
{% endblock %}