{% extends 'layout.html' %}
{% block page_title %} About page {% endblock %}
{% block content %}
<form method="POST" action="/pages/about/">
        <div class="form-row">
            <div class="form-group col-md-12">
                {% csrf_token %}
            </div>        
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Email</label>
            <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
        
        </div>
        <div class="form-row">
          <label for="inputAddress">Address</label>
          <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
       
        <div class="form-row">
            <div class="form-group col-md-2">
            <label for="inputZip">ZipCode</label>
            <input name="zipcode" type="text" class="form-control" id="inputZip">
          </div>
        </div></br></br>
       
        <button name="submit" type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <div class="row-d-block">
        <p>Email: {{email | default:'No email'}}</p>
        <p>Address: {{address | default:'No address'}}</p>
         <p> Zipcode: {{address | default:'No address'}}</p>

      </div>
{% endblock %}